<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container-narrow">

        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("About", "About", "Home")</li>
            </ul>
            <h3 class="muted">Tweet Fighter!</h3>
        </div>

        <hr>

        @RenderBody()
        
        <hr>

        <div class="footer">
            <p>&copy; Nobody in particular 2012</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <!-- Hey, you checking out my HTML? Cool. I'd love to see how close you guys looked at this. -->

</body>
</html>
